@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    font-family: 'Abril Fatface', serif;
    font-weight: 400;
    font-style: normal;
}

h2 h3 h4 {
    font-family: 'Old Standard TT', serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-weight: 547;
    font-style: normal;
}
